* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin:0;
    padding:0;
    color:#fff;
}

/* HERO FULL PAGE */
.hero{
    height:100vh;
    background:url("images/banner.png") center center / cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero h1 {
    background: rgba(0,0,0,0.6);
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 32px;
}

/* MAIN CONTAINER */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 15px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: #1b1b1b;
    border-radius: 14px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.04);
}

/* IMAGE */
.card img {
    width: 70%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
}

/* TEXT */
.card p {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background: #151515;
}

/* MOBILE FIX */
@media (max-width: 600px) {
    .hero {
        height: 45vh;
    }

    .hero h1 {
        font-size: 22px;
    }
}
